<%- include("partials/header"); -%>

<div class="banner">
  <div class="container-fluid banner_container">
    <h1><span>YOU'RE THE ONE</span></h1>
    <p>GROW OLD WITH ME, THE BEST IS YET TO BE!</p>
  </div>
</div>

<%- include("partials/self_info"); -%> <%- include("partials/day_counter"); -%>
<%- include("partials/open_when"); -%> <%- include("partials/song_and_quotes");
-%> <%- include("partials/gallery"); -%> <%- include("partials/footer"); -%>
